body {
  font-family: 'Roboto Mono',monospace;
  min-height: 500px;
  background-image: url('https://i.pinimg.com/originals/e8/23/b5/e823b5cd8dcd63d8e7d6528f673c8a9d.jpg');
  background-color: #000000;
  background-size: 200vh;
  background-position: center;
  background-repeat: no-repeat;
}


.container {
  text-align:center;
  padding: 20px;
  height: 100vh;
  display:flex;
  flex-direction:column;
}

.page-title {
  color: #ffffff;
  margin: 150 0 5px;
}

.page-title span{
  background-color: #000000;
  font-size: 50px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-subtitle span {
  background-color: #000000;
  font-size: 30px;
}

.page-logo {
  text-align:center;
  width: 200px;
  margin: 5px 0px 0px 0px;
}

.page-logo span {
  background-color: #000000;
  font-size: 30px;
}
